.body1{
    width: 1190px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    overflow: hidden;
}

.sidebar{
    font-size: 12px;
    float: right;
    width: 248px;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 8px;
}

.sidebar_annc{
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 12px 10px 7px;
    margin-bottom: 10px;
}

.annc_more{
    cursor: pointer;
    font-family: none;
    margin-top: 4px;
    float: right;
    font-size: 12px;
    color: #3d4246;
}

.annc_more:hover{
    color: #eb0045;
}

.sidebar_item{
    margin-bottom: 15px;
}
.sidebar_item a:hover{
    color: #dc2625;
}

.sidebar_content1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: url(../image/sidebar_background.png) no-repeat 0 50%;
    line-height: 22px;
    text-indent: 7px;
    font-size: 12px;
    color: #666;
    font-weight: 700;
}
.sidebar_content1 a{
    color: #666;
}

.sidebar_content2{
    color: #bdbdbd;
    line-height: 22px;
    text-indent: 7px;
}
.sidebar_content2 a{
    color: #777;
}

.sidebar_news{
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 12px 10px 7px;
    margin-bottom: 10px;
}

.sidebar_content3{
    background: url(../image/sidebar_background.png) 0 50% no-repeat;
    color: #aeaeae;
    line-height: 22px;
    text-indent: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.sidebar_content3 a{
    color: #555;
}
.sidebar_content3 a:hover{
    color: #dc2625;
}
